/* Apply a natural box layout model to all elements, but allowing components to change
Credit: Paul Irish
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Global Styles */
:root {
    --red: #eb4827;
    --yellow: #ddd413;
    --blue: #0387c8;
    --pink: #f5dbd9;
    --darkgreen: #264d3b;
    --brown: #936b3b;
    --black: #000;
    --white: #fff;
}

body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .015rem;
    font-size: 1.4rem;
    position: relative;
    margin: 0;
    font-weight: 400;
}

.background{
    width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid black;
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    line-height: 1.25em;
}

h1 {
    font-size: .8em;
    color: var(--darkgreen);
    margin: 0;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.6em;
}

h4 {
    font-size: .95em;
}

p {
    margin: 1em 0 2em 0;
    line-height: 1.5em;
}

.anchor {
    transform: translate(-2em);
}
/************************
 * Header Section Styling *
 ***********************/
header {
    display: flex;
    flex-direction: column;
    max-width: 80em;
    position: relative;
    z-index: 1;
    padding: 0;
    height: 12rem;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.logo-container figure {
    padding: 0;
    margin: 0;
}

.logo {
    width: 25em;
    margin: 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 0 1em;
}

.social-icons a {
    font-size: 1.25em;
    padding: .5em .5em .25em .5em;
    border-bottom: none;
}

.social-icons a:hover {
    color: var(--yellow);
}



.fas.menu-icon, .fas.close-icon {
    display: none;
    color: var(--darkgreen);
}

.header-nav {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: .95em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: fit-content;
}

.nav-item {
    padding: .75em 2em .75em 0;
    margin: 0;
    font-size: .65em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: black;
}


.nav-item:hover {
    color: var(--red);
    text-decoration: underline;
}

header a {
    border-bottom: none;
    width: fit-content;
    padding: 0;
}





/************************
 * Main Section Styling *
 ***********************/
main {
    white-space: nowrap;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 12rem);
    overflow-y: hidden;
    margin-top: 12rem;
}

main > section {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    height: inherit;
    width: max-content;
    overflow-x: visible;
}

.col-container {
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    white-space: normal;
    min-width: 80vw;
    padding: 2em;
}

.align-flexstart {
    align-items: flex-start;
    padding-top: 10em;
}

.col {
    max-width: 28em;
    width: 100%;
    margin: 0 1em;
}

.col-space {
    margin-right: 15vw;
}

.col-img-h100, .col-img-center {
    max-width: unset;
    width: auto;
    height: 100%;
    display: flex;
}

.col-img-h100 img {
    height: 100%;
}

.col-img-center img {
    height: 60%;
    margin: auto;
}

.col-nospace {
    width: 100%;
}









/************************
 * Problem Section Styling *
 ***********************/





/************************
 * Responsive Styling *
 ***********************/

@media screen and (max-width: 806px) {
    header {
        position: unset;
    }

    .fixed {
        position: fixed;
        top: 0;
        width: 100%;
        padding: .5em 2em;
        z-index: 1;
    }

    img.logo {
        width: 90%;
    }
    .logo-container {
        flex-direction: column;
    }

    .header-nav ul {
        flex-direction: column;
    }

    .header-nav {
        font-size: .95em;
        top: 25vh;
        left: 0;
    }

    header .header-nav .menu-icon {
        display: block;
        position: absolute;
        top: 2.5em;
        right: 1em;
        font-size: 1.25em;
    }

    header .main-nav.nav-open {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: var(--darkgreen);
        padding: 3em 2em;
        color: white;
    }

    header .main-nav.nav-open ul {
        display: flex;
        top: unset;
        margin: 0;
    }

    .content-section {
        padding: 3em 2em 3em 7em;
        flex-direction: column;
    }

    .problem {
        padding-top: 8em;
    }
}